APP_ENV=production
APP_DEBUG=false

DB_HOST=${MYSQLHOST}
DB_DATABASE=${MYSQLDATABASE}
DB_USERNAME=${MYSQLUSER}
DB_PASSWORD=${MYSQLPASSWORD}

# Redis (volitelné)
REDIS_HOST=${REDISHOST}
REDIS_PORT=${REDISPORT}
REDIS_PASSWORD=${REDISPASSWORD}

# Base URL
CONCRETE5_SITE=https://your-domain.com
