# Databáze (Railway plugin)
CONCRETE_DB_HOST=${MYSQLHOST}
CONCRETE_DB_USERNAME=${MYSQLUSER}
CONCRETE_DB_PASSWORD=${MYSQLPASSWORD}
CONCRETE_DB_DATABASE=${MYSQLDATABASE}
CONCRETE_DB_PORT=${MYSQLPORT}

# Redis
REDISHOST=${REDISHOST}
REDISPORT=${REDISPORT}
REDISPASSWORD=${REDISPASSWORD}

# S3 / MinIO
S3_ACCESS_KEY=${S3_ACCESS_KEY}
S3_SECRET_KEY=${S3_SECRET_KEY}
S3_BUCKET=${S3_BUCKET}
S3_REGION=${S3_REGION}
S3_ENDPOINT=${S3_ENDPOINT}
